language: julia
os:
  - linux
  - osx
julia:
  - release
  - nightly
env:
  global:
    - BOND_TIMEOUT=5
before_script:
  # allow ssh loopback
  - ssh-keygen -t rsa -N '' -C '' -f ~/.ssh/id_rsa
  - cat ~/.ssh/id_rsa.pub >> ~/.ssh/authorized_keys
  - ssh -o StrictHostKeyChecking=no localhost true
script:
  - julia --check-bounds=yes --color=yes -e "Pkg.clone(pwd()); Pkg.build(\"${JL_PKG}\"); Pkg.test(\"${JL_PKG}\", coverage=true)"
after_success:
   - if [ $TRAVIS_JULIA_VERSION = "nightly" ]; then julia -e "cd(Pkg.dir(\"${JL_PKG}\")); Pkg.add(\"Coverage\"); using Coverage; Coveralls.submit(Coveralls.process_folder())"; fi
